body {
    background-color: #fefae0;
    color: #344e41;
}

/* buttons */
.btn,
.btn2, .btn3 {
    padding: 10px 60px;
    background-color: #e9edc9;
    color: #344e41;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
    transition-property: background-color;

}

.btn:hover,
.btn2:hover, 
.btn3:hover {
    background-color: #ccd5ae;
}

/* popup window */
/* .popup {
    width: 400px;
    background-color: #faedcd;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
} */



/* The below code is to center everything in the middle */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    display: table;
}

.my-block {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}